/*
Last edited: 12.12.2025
*/

body {
    background-color: rgb(35, 35, 35);
    color: white;
    font-family: Roboto, Helvetica, sans-serif;
}

h1 {
    font-family: 'Futura', sans-serif;
    font-style: italic;
    font-weight: bolder;
    font-size: 16pt;
    color: rgb(204, 0, 0);
    
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgb(27, 27, 27);
}

#footer {
    text-align: center;
    padding: 10px;
    font-size: 10pt;
}

#statsImg {
    height: 30px;
    align-items: center;
}

button {
    background-color: rgb(204, 0, 0);
    border: 1px solid black;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(255, 51, 51);
}

button:active {
    background-color: rgb(153, 0, 0);
}

#main {
    padding: 20px;
    display: grid;
    justify-items: center;
}

#guessingArea {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 20px;
}

.dropdown {
    width: 90%;
}

#playButton {
    justify-content: center;
    border: none;
    background-color: transparent;
    transition: rotate 0.5s;
}

#playButton:hover {
    cursor: pointer;
    rotate: 90deg;
    transition: rotate 0.5s;
}

#playButton img{
    width: 30px;
}