/*
Last edited: 12.12.2025
*/

body {
    background-color: rgb(35, 35, 35);
    color: white;
    font-family: Roboto, Helvetica, sans-serif;
}

h1 {
    font-family: 'Futura', sans-serif;
    font-style: italic;
    font-weight: bolder;
    font-size: 16pt;
    color: rgb(204, 0, 0);
    
}

h2 {
    font-size: 15pt;
    align-self: center;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgb(27, 27, 27);
}

#footer {
    text-align: center;
    padding: 10px;
    font-size: 10pt;
}

#statsImg {
    height: 30px;
    align-items: center;
}

button {
    background-color: rgb(204, 0, 0);
    border: 1px solid black;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(255, 51, 51);
    cursor: pointer;
}

button:active {
    background-color: rgb(153, 0, 0);
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

#main {
    padding: 10px;
    display: grid;
    justify-items: center;
}

.guessingArea {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.guessingArea.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.dropdown {
    width: 90%;
}

input {
    background-color: rgb(77, 77, 77);
    border: 2px solid rgb(77, 77, 77);
    border-radius: 5px;
    margin: 5px;
    color: white;
}

input:focus {
    outline: none;
    border-color: rgb(255, 255, 255);
}

input::placeholder {
    color: rgb(200, 200, 200);
}

input.correct {
    border-color: rgb(0, 204, 0);
    background-color: rgb(77, 77, 77);
}

input.almost {
    border-color: rgb(255, 205, 0);
    background-color: rgb(77, 77, 77);
}

input.incorrect {
    border-color: rgb(0, 0, 0);
    background-color: rgb(77, 77, 77);
}

#playButton {
    justify-content: center;
    border: none;
    background-color: transparent;
    transition: rotate 0.5s;
}

#playButton:hover {
    cursor: pointer;
    rotate: 90deg;
    transition: rotate 0.5s;
}

#playButton img{
    width: 50px;
}

.youtube {
    margin: 0px;
}

#submitGuess, #resultsButton {
    width: 100px;
    height: 50px;
    font-size: 20px;
    opacity: 1;
    transition: opacity 0.5s ease;
}



.overlay {
    position: fixed;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 2fr;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    width: 80%;
    height: 60%;
    border: 5px solid darkgrey;
    background-color: rgb(35, 35, 35);
    align-items: center;
    align-content: bottom;
    justify-content: center;
    text-align: center;
    transition: opacity 0.5s ease;
}

.overlay.hidden {
    opacity: 0;
    pointer-events: none;
    /* keep the element in the flow so opacity can transition; make it non-interactive */
    transition: opacity 0.5s ease;
}

#statsOverlay {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#resultsButton.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

#closeResults, #closeStats {
    font-size: 15pt;
    background-color: darkgrey;
}

#closeResults:hover, #closeStats:hover {
    cursor: pointer;
    text-decoration: underline;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 6px 10px;
    z-index: 10;
}

#answer {
    padding-top: 20px;
}


@media screen and (max-width: 480px) {
    input {
        max-width: 60px;
        font-size: 13pt;
    }

    h2 {
        font-size: 12pt;
    }
}

/* Center the results box within the overlay without changing its text alignment */
#results {
    justify-self: center;
    align-self: center;
    display: inline-block; /* keeps the element sized to its contents */
}

#share {
    height: 50px;
    font-size: 15pt;
}